/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* header */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.navigazione {
    width: 100%;
    height: 10vh;
    background-color: white;
    vertical-align: middle;
    position: relative;
    padding-top: 20px;
}

.navigazione img {
    float: left;
    padding-left: 20px;
}

.prima-lista {
    float: left;
}

.prima-lista li {
    margin-left: 40px;
    list-style-type: none;
    display: inline-block;
    font-weight: bold;
}

.seconda-lista {
    position: absolute;
    top: 20px;
    right: 20px;
}

.seconda-lista li {
    margin-right: 30px;
    list-style-type: none;
    display: inline-block;
    font-weight: bold;
}

#bottone-inizia {
    color: white;
    background-color:  #0061FF;
    padding: 5px 15px;
    border: none;
}

/* jumbo */

.jumbo {
    background-color: #B4D0E7;
    width: 100%;
}

.introduzione-sito {
    width: 90%;
    margin: auto;
}

.introduzione-sito h1 {
    text-align: justify;
    padding-top: 40px;
    font-size: 80px;
    line-height: 100px;
}

.colonna-sinistra {
    width: 40%;
    padding-top: 40px;
    float: left;
}

.colonna-sinistra p {
    padding-right: 170px;
}

#prova-gratuita {
    color: white;
    background-color: #0061FF;
    padding: 5px 15px;
    border: none;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

#annulla {
    font-size: 12px;
}

.fa-arrow-down {
    margin-top: 30px;
    font-size: 40px;
}

.colonna-destra {
    width: 60%;
    float: left;
    height: 450px;
}

.colonna-destra img {
    width: 100%;
    padding-top: 40px;
}

/* sezione 1 */

.prima-sezione {
    width: 70%;
    margin: 150px auto 40px;
}

.prima-sezione h2 {
    font-size: 30px;
}

.prima-sezione input {
    margin-top: 70px;
}

#radio-check {
    margin-left: 30px;
}

/* tabella sezione 1 */

.tabella-fatturazione {
    width: 100%;
    margin: 50px auto;
}

.parte-sinistra {
    width: 30%;
    float: left;
    border: 1px solid #D1D1D4;
}

.singolo {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #D1D1D4;
}

.tipo-fatturazione {
    width: 90%;
    margin: 20px 5%;
}

.mese {
    color: #7C8A95;
}

.descrizione-offerta {
    margin-top: 40px;
}

.fa-pencil-alt span {
    font-weight: normal;
}

.gratis {
    width: 100%;
    text-align: center;
}

.bottone-tabella {
    color: white;
    background-color: #0061FF;
    padding: 5px 40px;
    border: none;
    margin-top: 30px;
    font-weight: bold;
}

.oppure-acquista {
    margin: 30px auto;
    text-align: left;
}

.oppure-acquista .acquista{
    color: #3883FF;
    padding-left: 5px;
}

hr {
    width: 60px;
    color: #D1D1D4;
}

.punti-salienti {
    height: 500px;
}

.punti-salienti h2 {
    font-size: 15px;
    margin-top: 30px;
}

.punti-salienti ul li {
    list-style-type: none;
    margin-top: 20px;
}

.check::before {
    content: "\2713";
    color: #3883FF;
    font-weight: bold;
}

/* parte centrale della tabella */

.centro {
    width: 30%;
    margin: 0 5%;
    float: left;
    border: 1px solid #D1D1D4;
}

/* parte destra */

.parte-destra {
    float: left;
    width: 30%;
    border: 1px solid #D1D1D4;
}

/* sezione 2 */

.sezione-2 {
    width: 70%;
    margin: 30px auto;
    border: 1px solid #D1D1D4;
}

.team-title {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #D1D1D4;
}

.enterprise {
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

#enterprise-title {
    float: left;
}

.contatta-ufficio {
    color: white;
    background-color: #0061FF;
    padding: 5px 40px;
    border: none;
    font-size: 15px;
    float: right;
}

#contatta-titolo {
    font-size: 15px;
}

#soluzioni {
    font-size: 15px;
    padding: 20px 0 30px;
}